*{
    text-align: center;
    background-color: rgb(34, 44, 44);
    color: aliceblue;
    font: normal arial;
    font-family: sans-serif;
 }
 .btn{
    background-color: rgb(62, 128, 128);
    padding: 15px;
    margin: 20px;
 }

 #title{
    padding: 5px;
    border-radius: 10px;
    margin-top: 50px;
 }

 #review{
    margin-top: 50px;
    padding: 20px 90px 20px;
    border-radius: 10px;
 }
 #category{
    margin-top: 50px;
    border-radius: 10px;
 }

 .rate{
    margin-top: 50px;
    border-radius: 10px;
 }

 .btn{
    margin-top: 50px;
    border-radius: 10px;
 }